.hero {
  background: linear-gradient(260deg, rgb(242, 242, 242) 0%, rgba(194, 209, 219, 0.702) 100%);
  width: 90% !important;
}

html.dark .hero {
  background: linear-gradient(260deg, rgba(182, 182, 182, 0.1) 0%, rgb(17, 24, 38) 100%);
}

.slick-current > div {
  position: relative;
}

.hero-card {
  display: flex;
  align-items: center;
  position: relative;
  height: 600px;
}
@media (max-width: 991px) {
  .hero-card {
    flex-direction: column-reverse;
    text-align: center;
    height: 85vh;
  }
}
.hero-card .content {
  flex: 1;
}
.hero-card .content .title-one {
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 991px) {
  .hero-card .content .title-one {
    font-size: 20px !important;
  }
}
.hero-card .content .title-two {
  font-size: 70px;
  font-weight: bold;
}
@media (max-width: 991px) {
  .hero-card .content .title-two {
    font-size: 50px !important;
  }
}
.hero-card .content .title-three {
  font-size: 100px;
  font-weight: bold;
  margin-top: -30px;
}
@media (max-width: 991px) {
  .hero-card .content .title-three {
    font-size: 50px !important;
    margin-top: -20px;
  }
}
.hero-card .content button {
  border-radius: 20px;
  padding: 10px 15px;
  color: white;
}
.hero-card .image {
  flex: 1;
}
.hero-card .image img {
  position: absolute;
  max-width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  right: 0;
}
@media (max-width: 991px) {
  .hero-card .image img {
    position: relative;
    top: 0;
    transform: translateY(0);
  }
}