.header {
  .nav-links {
  }
  .head-right {
    .search {
      position: relative;
      margin-right: 10px;
      &:hover {
        input {
          padding: 4px 15px;
          width: 250px;
          transition: 0.3s;
          outline: 1px solid black;
          @media (max-width: 991px) {
            width: 150px;
          }
        }
        svg {
          color: #f42c37;
        }
      }
      input {
        border-radius: 20px;
        width: 0;
        padding: 8px 0 0 0;
      }
      svg {
        position: absolute;
        right: 4px;
      }
    }
    .cart {
      &:after {
        content: attr(data-notifies);
        position: absolute;
        right: -4px;
        top: -10px;
        width: 15px;
        height: 15px;
        background-color: #f42c37;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        color: white !important;
      }
    }
  }
}
